.fadeIn{
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeIndown{
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-fill-mode: both;
  animation-name: fadeIndown;
}

@keyframes fadeIndown {
  from{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
.fadeInup{
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-fill-mode: both;
  animation-name: fadeInup;
}

@keyframes fadeInup {
  from{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
